<!DOCTYPE html>
<html>
  <head>
    <title>SwaggerUiRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    "spree_api_docs/application", media: "all" %>
    <%= javascript_include_tag "spree_api_docs/application" %>

    <link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16" />
  </head>

  <body>
    <%= yield %>
  </body>
</html>
